<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Transactions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngFor="let group of groupedTransactions">
      <ion-list-header color="dark">
        <ion-label>{{ group.date }}</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let transaction of group.transactions">
        {{ transaction.label || ( transaction.category ? transaction.category.name : null ) }}
        <div class="item-note" slot="end">
          <ion-text *ngIf="transaction.amount < 0" color="danger">
            {{ ((-1) * transaction.amount).toFixed(2) }}
          </ion-text>
          <ion-text *ngIf="transaction.amount >= 0" color="success">
            {{ transaction.amount.toFixed(2) }}
          </ion-text>
        </div>
      </ion-item>
    </ng-container>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" (click)="newTransaction()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>