<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>New Transaction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="logForm()">

    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime required [(ngModel)]="transaction.date" name="date"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Amount</ion-label>
      <ion-input required [(ngModel)]="transaction.amount" name="amount" type="number" placeholder="0.00"></ion-input>
    </ion-item>

    <!-- (onChange)="categoryChange($event)"  -->

    <ion-item>
      <ion-label>Category</ion-label>
      <ionic-selectable name="category" [(ngModel)]="transaction.category" [items]="categories" itemValueField="id"
        itemTextField="name" [canSearch]="true" [canAddItem]="true" (onAddItem)="onAddCategory($event)">
      </ionic-selectable>
    </ion-item>

    <ion-item>
      <ion-label>Location</ion-label>
      <ionic-selectable name="location" [(ngModel)]="transaction.location" [items]="locations" itemValueField="id"
        itemTextField="name" [canSearch]="true" [canAddItem]="true" (onAddItem)="onAddLocation($event)">
      </ionic-selectable>
    </ion-item>

    <ion-item>
      <ion-label>Tags</ion-label>
      <ionic-selectable name="tags" [(ngModel)]="transaction.tags" [items]="tags" itemValueField="id" itemTextField="name"
        [canSearch]="true" [canAddItem]="true" (onAddItem)="onAddTag($event)" [isMultiple]="true">
      </ionic-selectable>
    </ion-item>

    <ion-item>
      <ion-label>People</ion-label>
      <ionic-selectable name="people" [(ngModel)]="transaction.people" [items]="people" itemValueField="id" itemTextField="name"
        [canSearch]="true" [canAddItem]="true" (onAddItem)="onAddPerson($event)" [isMultiple]="true">
      </ionic-selectable>
    </ion-item>

    <ion-item>
      <ion-label>Is Extraneous</ion-label>
      <ion-toggle [(ngModel)]="transaction.isExtraneous" name="isExtraneous"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Label</ion-label>
      <ion-input [(ngModel)]="transaction.label" name="label" placeholder="Dog food"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Notes</ion-label>
      <ion-textarea [(ngModel)]="transaction.notes" name="notes" placeholder="Any additional information">
      </ion-textarea>
    </ion-item>


    <ion-button expand="full" type="submit">Save Transaction</ion-button>
  </form>
</ion-content>