<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Current Balance</ion-card-subtitle>
      <ion-card-title>{{ balance ? balance.toFixed(2) : 'Loading' }}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Lotsa</ion-card-subtitle>
      <ion-card-title>Burndown</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-row class="ion-justify-content-center" *ngIf="!burndownEntries || !burndownEntries.length">
        <ion-col size="auto">
          <div>
            <ion-spinner></ion-spinner>
          </div>
        </ion-col>
      </ion-row>

      <div style="position: relative; height:100%; width:100%;">
        <canvas id="canvas-chart"></canvas>
      </div>
    </ion-card-content>
  </ion-card>


</ion-content>